h1, h2, p {
    text-align: center;
}

body {
    /* background-color: burlywood; */
}

.menu {
    width: 80%;
    background-color: burlywood;
    /* Set menu to center */
    margin-left: auto;
    margin-right: auto;
}